page-add-meal-details {

}

.weight-selector p{
  font-size:17px;
  vertical-align: middle;
  margin:unset;
  padding-top:13px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}