<!--
  Generated template for the AddMealPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ajouter un repas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="intro">
    <i>Garder appuyer une des icônes pour obtenir plus d'informations</i>
  </div>
  <ion-row>
    <div col-3 class="btn" (tap)="openVoice()" (press)="voiceHelp()">
      <ion-icon name="mic" style="font-size: 40px;"></ion-icon>
      <p>Dictée</p>
    </div>
    <div col-3 class="btn" (tap)="openList()" (press)="listHelp()">
      <ion-icon name="list" style="font-size: 40px;"></ion-icon>
      <p>Liste</p>
    </div>
    <div col-3 class="btn" (tap)="openScan()" (press)="scanHelp()">
      <ion-icon name="barcode" style="font-size: 40px;"></ion-icon>
      <p>Scan</p>
    </div>
  </ion-row>

  <ion-card *ngIf="showVoiceHelp">
    <ion-card-header>
      Dictée vocale
    </ion-card-header>
    <ion-card-content text-justify>
      Racontez votre repas au micro, et l'intelligence artificielle s'occupe du reste !
      Le système est capable de reconnaître les aliments
      et les proportions que vous décrivez.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showListHelp">
    <ion-card-header>
      Liste d'aliments
    </ion-card-header>
    <ion-card-content>
      Parcourez une liste complète d'aliments pour décrire avec précision votre repas.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showScanHelp">
    <ion-card-header>
      Scan de code-barre
    </ion-card-header>
    <ion-card-content>
      Utiliser cette méthode permet de détecter automatiquement l'aliment scanné.
    </ion-card-content>
  </ion-card>



</ion-content>
