<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <button ion-button icon-only color="royal" class="yo" (click)="openStats()">
        <ion-icon name="stats"></ion-icon>
      </button>
      <ion-title text-center>Eat'Fit</ion-title>
      <button ion-button icon-only color="royal" (click)="openWeight()" class="yo">
        <ion-icon name="speedometer"></ion-icon>
      </button>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="backdrop" *ngIf="addClick" (click)="addClick = false"></div>


  <div class="rond" text-center>
    <h1>{{kcal}}</h1>
    <p>KCal
      <br/>consommées</p>
  </div>

  <div class="date-switch" text-center>

    <button ion-button clear icon-only color="secondary" (click)="dateMinus()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <span>{{currentDay.format('dddd D MMMM')}}</span>
    <button ion-button clear icon-only color="secondary" (click)="datePlus()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
    <!--

    <ion-row class="row">



    </ion-row>

    -->
  </div>

  <div class="data">

    <table>
      <tr>
        <td>
          <div class="elem">
            <div class="l1">
              Glucides
            </div>
            <div class="l2">
              356g
              <div class="badge" style="background-color: #db3b2d"></div>
            </div>
          </div>
        </td>
        <td>
          <div class="elem">
            <div class="l1">
              Protéines
            </div>
            <div class="l2">
              280g
              <div class="badge" style="background-color: #229645"></div>
            </div>
          </div>
        </td>
        <td>
          <div class="elem">
            <div class="l1">
              Graisses
            </div>
            <div class="l2">
              87g
              <div class="badge" style="background-color: #f2ab36"></div>
            </div>
          </div>
        </td>
      </tr>

    </table>

  </div>

  <div class="separator"></div>

  <div text-center margin-top class="add">
    <button ion-button icon-start (click)="openAddMealChoicePicker()" round color="primary" class="pop"
            [style.visibility]="addClick ? 'hidden' : 'visible'">
      <ion-icon name="add"></ion-icon>
      Ajouter un repas
    </button>
    <div *ngIf="addClick">
      <div class="fabino fab1">
        <button ion-button round color="secondary" block (click)="openAddMeal('breakfast')" class="popf">
          Petit déjeuner
        </button>
      </div>
      <div class="fabino fab2">
        <button ion-button round color="secondary" block (click)="openAddMeal('launch')" class="popf">
          Déjeuner
        </button>
      </div>
      <div class="fabino fab3">
        <button ion-button round color="secondary" block (click)="openAddMeal('dinner')" class="popf">
          Dîner
        </button>
      </div>
      <div class="fabino fab4">
        <button ion-button round color="secondary" block (click)="openAddMeal('other')" class="popf">
          Autre repas
        </button>
      </div>
    </div>
  </div>


  <ion-card>
    <ion-list>
      <ion-item class="itm">
        <h2>Petit déjeuner
          <span class="detail" *ngIf="!breakfast">? / 1000 Kcal</span>
          <span class="detail" *ngIf="breakfast">450 / 1000 Kcal</span>
        </h2>
        <ion-row>
          <h3 col-9>{{breakfast ? getFoodResume(breakfast) : 'Non renseigné'}}</h3>
          <div col-3 text-right *ngIf="!breakfast">
            <ion-buttons>
              <button ion-button icon-only (click)="openAddMeal('breakfast')" round color="secondary" class="pop">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-buttons>
          </div>
          <div col-3 text-right *ngIf="breakfast">
            <ion-buttons>
              <button ion-button icon-only round color="secondary" class="pop">
                <ion-icon name="options"></ion-icon>
              </button>
            </ion-buttons>
          </div>
        </ion-row>
      </ion-item>
      <ion-item class="itm">
        <h2>Déjeuner
          <span class="detail" *ngIf="!breakfast">? / 1000 Kcal</span>
          <span class="detail" *ngIf="breakfast">800 / 1000 Kcal</span>
        </h2>
        <ion-row>
          <h3 col-9>{{lunch ? getFoodResume(lunch) : 'Non renseigné'}}</h3>
          <div col-3 text-right *ngIf="!lunch">
            <ion-buttons>
              <button ion-button icon-only (click)="openAddMeal('lunch')" round color="secondary" class="pop">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-buttons>
          </div>
          <div col-3 text-right *ngIf="lunch">
            <ion-buttons>
              <button ion-button icon-only round color="secondary" class="pop">
                <ion-icon name="options"></ion-icon>
              </button>
            </ion-buttons>
          </div>
        </ion-row>
      </ion-item>
      <ion-item class="itm">
        <h2>Diner
          <span class="detail" *ngIf="!breakfast">? / 1000 Kcal</span>
          <span class="detail" *ngIf="breakfast">700 / 1000 Kcal</span>
        </h2>
        <ion-row>
          <h3 col-9>{{dinner ? getFoodResume(dinner) : 'Non renseigné'}}</h3>
          <div col-3 text-right *ngIf="!dinner">
            <ion-buttons>
              <button ion-button icon-only (click)="openAddMeal('dinner')" round color="secondary" class="pop">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-buttons>
          </div>
          <div col-3 text-right *ngIf="dinner">
            <ion-buttons>
              <button ion-button icon-only round color="secondary" class="pop">
                <ion-icon name="options"></ion-icon>
              </button>
            </ion-buttons>
          </div>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
