.add{
  position: relative;
}

.pop{animation:pop .4s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes pop{0%{transform:scale(.5)}100%{transform:scale(1)}}

.popf{animation:pop .17s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes pop{0%{transform:scale(.5)}100%{transform:scale(1)}}


.fabino{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 100;
  width:60%;
}

.fab1{
  bottom:120px;
}

.fab2{
  bottom:60px;
}

.fab3{
  bottom:0px;
}

.fab4{
  bottom:-60px;
}



.yo{
  box-shadow: unset;
}

.rond{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 3px solid #6f9798;
  margin:0 auto;
  border-radius:50%;
  width: 170px;
  height:170px;
  padding-top:50px;
  color:#222;
}

.rond h1{
  font-size:37px;
}

.rond p{
  margin-top:unset !important;
}

.date-switch{
  margin-top:15px;
  margin-bottom: 15px;
}

.date-switch button{
  vertical-align: middle;
}

.date-switch span{
  font-size:18px;
  text-transform: capitalize;
  padding-top: -10px;
}


.data table{
  width:100%;
  text-align: center;
}
.l1{
  text-transform: uppercase;
  margin-bottom: 2px;
}

.add{
  margin-bottom: 20px;
}

.l2{
  text-align: right;
  margin-right:15px;

}

.data .badge{
  width:15px;
  height:15px;
  border-radius: 50%;
  display:inline-block;
  text-align: right;
}


.itm{
  border-bottom: 1px solid #dedede;
}

.itm .detail{
  float:right;
  font-size:13px;
  color: #3c3c3c;
}


.itm h2{
  text-transform: uppercase;
  font-size:15px;
  color: #7a7a7a;
  padding-top:5px;
}

.itm h3{
  padding-left: 0;
  padding-top:10px;
  font-style: italic;
  text-transform: capitalize;
}


.itm button{
  width:40px;
  font-size:12px;
}

.separator{
  width:100%;
  border-bottom: 1px solid #dedede;
  margin:15px 0;
}

.backdrop{
  z-index:2;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #516369;
  opacity:0.3;
}
